:root{
    --my-primary-color: #b91450;
    --my-btn-color: #cccccc;
    --my-secondary-color: #808080;
}

body{
    background-color: var(--my-primary-color);
    font-size: 25px;
}

.text-my-primary{
    color: var(--my-primary-color);
}

.border-my-primary{
    border-color: var(--my-primary-color)!important;
}

.bg-my-btn{
    background-color: var(--my-btn-color);
}

.border-my-secondary{
    border-color: var(--my-secondary-color)!important;
}

.bg-my-secondary{
    background-color: var(--my-secondary-color);
}

#my-ticket .row{
    height: 180px;
}

th{
    height: 80px;
    vertical-align: top;
    padding: 0 20px;
}

td{
    height: 80px;
    vertical-align: bottom;
    padding: 0 20px;
}